
<!DOCTYPE html>
<html>
<head>
    <title>Phonelist</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body style="background-color: #f2f2f2">

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10" style="background-color:white" align="center"> <h2>Książka telefoniczna</h2> </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5" style="align-content: center; background-color: white"> <a href="/Person/Add" class="btn btn-primary" role="button">Dodaj osobę</a> </div>
        <div class="col-sm-5" style="align-content: center; background-color: white"> WYSZUKIWARKA </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10" style="height: 20px; background-color: white"> </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10" style="background-color: white"> @RenderBody() </div>
        <div class="col-sm-1"></div>
    </div>
    
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" style="height: 40px; background-color: white"></div>
    <div class="col-sm-1"></div>
</div>

</body>
</html> 